div{
    border: 1px solid black;
}
.header{
    display: flex;
    flex-flow: row wrap;
    height: 40px;
    padding: 10px;
    background-color: gray;
}
.header>div{
    margin-right: 30px;
    padding-top: 10px;
    text-align: center;
    width: 10%;
    vertical-align: middle;
    background-color: darkgray;
}
.main-content{
    display: flex;
}
.menu{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 20%;
    padding: 10px;
    height: 250px;
    justify-content: space-around;
}
.menu>div{
    padding-top: 20px;
    width: 80%;
    height: 40px;
    text-align: center;
    background-color: darkgray;
}
.content{
    display: flex;
    flex-grow: 1;
    padding: 10px;
}